<!doctype html>
<title>Customer Services</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <header>
    <h1 style="text-align:center;">Choose Service</h1>
  </header>

  <form method="post">
    <input type="submit" name="Insert" value="Create new Customer">
    <input type="submit" name="Delete" value="Delete Customer">
    <input type="submit" name="Search" value="Search Customer">
    <input type="submit" name="Update" value="Update Information">
    <input type="submit" name="Back"   value="Back to MainMenu">
  </form>
  
</section>